<div class="container" style="text-align: center;">
  <h1>Your boat trips</h1>

  <div class="container">
    <% @trips.each do |trip| %>
      <p>Name of the boat: <%= trip.boat.name %></p>
      <p>Your request: <%= trip.description %></p>
      <p>Status: <%= trip.status %></p>
      <p>Want to sail from <%= trip.check_in_date %> till <%= trip.check_out_date %> </p>
      <%= link_to "boat details", boat_path(trip.boat) %>
    <% end %>
  </div>
</div>
