
<div class="text-center">
  <h2>Edit your profile</h2>
  <hr style="width: 20em;">

  <%= simple_form_for(current_user) do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name, :input_html => {class: 'normal-form'} %>
  <%= f.input :last_name, :input_html => {class: 'normal-form'} %>
  <%= f.input :address, :input_html => {class: 'normal-form'} %>
  <%= f.input :city, :input_html => {class: 'normal-form'} %>
  <%= f.input :email, :input_html => {class: 'normal-form'} %>
  <%= f.input :phone_number, :input_html => {class: 'normal-form'} %>

  <%= f.input :current_password, :input_html => {class: 'normal-form'} %>
  <%= f.input :password, :label => "New password", :input_html => {class: 'normal-form'} %>
  <%= f.input :password_confirmation, :input_html => {class: 'normal-form'} %>
  <%= f.input :photo, :input_html => {class: 'normal-form'} %>
  <%= f.input :photo_cache, as: :hidden %>
  <hr style="width: 20em;">
  <%= f.button :submit, class: "btn btn-success" %>
  <% end %>
</div>



