<div class="banner-profile text-center">
  <div class="black-ground">
    <div class="profile-header-info">
      <%= cl_image_tag current_user.photo, height: 100, width: 100, crop: :fill, class: "avatar-profile" %>
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
      <ul class="list-inline">
        <li><i class="fa fa-map-marker"></i> <%= current_user.city  %></li>
        <li><i class="fa fa-phone"></i> <%= current_user.phone_number %></li>
      </ul>
    </div>
  </div>
</div>

<div class="text-center">
  <h3>Your boats (<%= @boats.size %>):</h3>
  <% @boats.each do |boat| %>
  <%= link_to boat.name, owner_boat_path(boat) %>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "New boat", new_owner_boat_path, class: "btn btn-success" %>
</div>

<div class="text-center">
  <h3>Bookings (<%= @bookings.size %>):</h3>
  <% @bookings.each do |booking| %>
  <%= link_to booking.created_at, owner_booking_path(booking) %>
  <% end %>
</div>
