<div class="container" style="text-align: center">
  <h1>Here are your bookings (<%= @bookings.size %>)</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-4">


      <% @bookings.each do |booking| %>

      <%= link_to owner_booking_path(booking) do %>
      <div class="product">
        <div class="product-image">
          <%= cl_image_tag booking.boat.photo, class: "product-image hidden-xs" %>
        </div>
        <div class='product-body'>
          <h4>Request by: <%= booking.renter.first_name %></h4>
          <p><i class="fa fa-envelope-o"></i> <%= booking.renter.email %>,
            <p><i class="fa fa-phone"></i>  <%= booking.renter.phone_number %></p>
            <p>About the booking: <%= booking.description %></p>
            <p>Status: <%= booking.status %></p>

          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
