<div class="container">
  <div class="media">
    <div class="media-body">
      <div class="media-section">
        <%= cl_image_tag @booking.boat.photo %>
      </div>
      <div class="media-section">
        <h4>About the renter</h4>
        <%= cl_image_tag @booking.renter.photo %>
        <p><strong><%= @booking.renter.first_name %> <%= @booking.renter.last_name %></strong></p>
        <p><i class="fa fa-map-marker"></i>  <%= @booking.renter.address %></p>
        <p><i class="fa fa-phone"></i> <%= @booking.renter.phone_number %></p>
        <hr>
        <p>This is what <%= @booking.renter.first_name %> has to say about his request: </p>
        <p><%= @booking.description %></p>
        <hr>
        <%= link_to "View profile", user_path(@booking.renter), class: "btn btn-primary" %>
      </div>
    </div>
    <div class="media-aside">
      <div class="media-section">
        <h4>Booking details</h4>
        <p><%= @booking.renter.first_name %> want to rent your <%= @booking.boat.category %> <strong><%= @booking.boat.name %></strong> from <strong><%= @booking.check_in_date %></strong> till <strong><%= @booking.check_in_date %></strong></p>
        <p> Please accept or deny this booking within 2 days. </p>
        <hr>
         <%= link_to "Accept", accept_owner_booking_path(@booking.id), method: :patch, class: "btn btn-primary" %>
        <%= link_to "Deny", deny_owner_booking_path(@booking.id), method: :patch, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>

