<div class="booking-form">
  <div class="container" style="text-align: center;">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <h1>Book your boat</h1>
        <hr style="width: 40em;">
        <%= simple_form_for(@booking, url: boat_bookings_path(@boat)) do |f| %>
          <%= f.error_notification %>
          <%= f.input :check_in_date, :input_html => {class: 'book-date'} %>
          <%= f.input :check_out_date, :input_html => {class: 'book-date'} %>
          <%= f.input :description, :input_html => {style: 'width: 30em; margin: 0 auto;'} %>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
