<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "BoatBnb-logo-blue.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>

        <%= link_to "Rent a boat", root_path, class: "navbar-wagon-item navbar-wagon-link " %>

        <%= link_to current_user.first_name, profile_path, class: "navbar-wagon-item navbar-wagon-link border-left" %>

      <% end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= cl_image_tag current_user.photo, height: 50, width: 50, crop: :fill, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to profile_path do %>
                <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to profile_path do %>
                <%= t ".profile", default: "Bookings" %>
              <% end %>
            </li>

            <!-- if owner sign in-->
            <% unless current_user.boats.empty? %>
              <li>
              <%= link_to profile_path do %>
                <%= t ".profile", default: "Manage Boat" %>
              <% end %>
              </li>
            <% end %>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_up", default: "List a boat"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link square" %>

      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li> <%= link_to "Profile", profile_path %></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

