<div class="container">

  <h1><%= @boat.name  %></h1>
  <%= cl_image_tag @boat.photo, height: 300, width: 400, crop: :fill %>
  <%= image_tag "@boat.photo" %>

  <h3>Details</h3>

  <h4>Owner:</h4>
  <%= @full_name %>
  <h4>Category:</h4>
  <%= @boat.category  %>
  <h4>Size:</h4>
  <%= @boat.size  %>
  <h4>Price per day:</h4>
  <%= @boat.price  %>
  <%= link_to "Book now", "#", class: "btn btn-danger" %>



</div>

<%= link_to "New boat", new_owner_boat_path, class: "btn btn-success" %>
