<div class="wrapper">
  <div class="banner">
    <div class="container">
      <div class="black-ground">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="text-jumbo">

            <h1> Welcome to BoatBnb</h1>
            <p> Rent unique boats in 190+ countries. </p>
          </div>
        </div>
      </div>

      <div class="form-width">
        <%= form_tag boats_path, method: "get", class: "flex-form" do %>
          <%= text_field_tag :city, @search, placeholder: "Where to rent your boat?" %>
          <!-- <input type="search" placeholder="Where to rent your boat?"> -->

          <%= label_tag(:check_in_date, "From") %>
          <%= date_field_tag(:check_in_date) %>

          <!-- <label for="from">From</label>
          <input type="date" name="from"> -->

          <%= label_tag(:check_out_date, "To") %>
          <%= date_field_tag(:check_out_date) %>

          <!-- <label for="from">To</label>
          <input type="date" name="to"> -->

          <%= select_tag :guests, options_for_select((1..20).to_a) %>

          <%= submit_tag("Search") %>
          <!-- <input type="submit" value="Search"> -->
        <% end %>
      </div>

    </div>
  </div>
</div>
