<div class="wrapper">
  <div class="banner">
    <div class="container">
      <div class="black-ground">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="text-jumbo">

            <h1> Welcome to BoatBnB</h1>
            <p> Rent unique boats in 190+ countries. </p>
          </div>
        </div>
      </div>

      <div class="form-width">
        <%= form_tag boats_path, method: "get", class: "flex-form" do %>
        <%= text_field_tag :city, @search, placeholder: "Where to rent your boat?" %>

        <%= label_tag(:check_in_date, "From") %>
        <%= date_field_tag(:check_in_date) %>

        <%= label_tag(:check_out_date, "To") %>
        <%= date_field_tag(:check_out_date) %>

        <%= select_tag :guests, options_for_select((1..20).to_a) %>

        <%= submit_tag("Search") %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="reduced-container">
  <div class="container">
    <h2 class="title text-center"> Plan a trip on a boat </h2>

      <!-- <div class="width-70"> -->
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'city4.jpg'%>);">
            <div class="city-amsterdam">
              <h2> Amsterdam</h2>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to "", boats_path, class: "card-link" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'city1.jpg'%>);">
            <div class="city-amsterdam">
              <h2>Utrecht</h2>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to "", boats_path, class: "card-link" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'city2.jpg'%>);">
            <div class="city-amsterdam">
              <h2>Nijmegen</h2>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to "", boats_path, class: "card-link" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-3">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'city3.jpg'%>);">
            <div class="city-amsterdam">
              <h2>Rotterdam</h2>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to "", boats_path, class: "card-link" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'city5.jpg'%>);">
            <div class="city-alkmaar">
              <h2>Den Bosch</h2>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to "", boats_path, class: "card-link" %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'city6.jpg'%>);">
            <div class="city-alkmaar">
              <h2>Alkmaar</h2>
            </div>
            <!-- <img class="card-user avatar" src="user.jpg"> -->
            <%= link_to "", boats_path, class: "card-link" %>
          </div>
        </div>

      </div>
    </div>
  </div>
