<div class="container">
  <h2 class="title text-center">Your search results (<%= @boats.size %>)</h2>


  <div class="width-70">
    <div class="row">
      <% @boats.each do |boat| %>

      <div class="col-xs-12 col-sm-4">
        <div class="card card-background">
        <%= link_to boat_path(boat) do %>
          <%= cl_image_tag boat.photo, height: 200, width: 300, crop: :fill%>
          <% end %>
          <div class="card-description">
            <h3><%= boat.name %></h3>

            <p><%= boat.description %><p>
            </div>
          </div>
          <h4><%= boat.city %></h4>

        </div>
        <% end %>
      </div>
    </div>
  </div>
